{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Identity | EventPro</title>
    <link rel="stylesheet" href="/static/password_reset.css">
</head>
<body>

    <div class="main-container">
        <div class="card">
            <div class="header">
                <h1>Identify Yourself</h1>
                <p>Enter details to receive a password reset link.</p>
            </div>

            {% if messages %}
            {% for message in messages %}
                <div class="alert-box {{ message.tags }}">
                {{ message }}
                </div>
            {% endfor %}
            {% endif %}

            <form method="POST" class="verification-form">
                {% csrf_token %}
                
                <div class="input-group">
                    <label>First Name</label>
                    <input type="text" name="first_name" required placeholder="Enter name">
                </div>
                <div class="input-group">
                    <label>last Name</label>
                    <input type="text" name="last_name" required placeholder="Enter name">
                </div>
                <div class="input-group">
                    <label>College ID</label>
                    <input type="text" name="college_id" required placeholder="Enter College ID">
                </div>

                <div class="input-group">
                    <label>Email Address</label>
                    <input type="email" name="email" required placeholder="name@college.edu">
                </div>

                <button type="submit" class="submit-btn">
                    Send Verification Link
                </button>
            </form>

            <div class="footer">
                <p>Remembered your password? <a href="{% url 'login' %}">Log in</a></p>
            </div>
        </div>
    </div>

</body>
</html>