* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: url("/static/pexels-padrinan-255379.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;        
}


img {
    position: absolute;
    top: 3vh;
    left: 3vh;
    width: 17vh;
    height: 17vh;
}

.login{
    background: paleturquoise;
    padding: 6vh;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px; 
    text-align: center;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
}

.login h2 {
    margin-bottom: 10px;
    color: #1e293b;
}

.start{
    color: #64748b;
    font-size: 1.0rem;
    margin-bottom: 30px;
}


.input{
    text-align: left;
    margin-bottom: 20px;
}

.input label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 9px;
    color: black;
    font-weight: bold;
}

.input input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

.input input:focus {
    border-color: #6f6c6e;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}


.select {
    display: flex;          
    flex-wrap: wrap;        
    gap: 15px;              
    align-items: center;   
    margin-top: 10px;
}

.select label {
    margin-right: 2px;      
    cursor: pointer;
}
.login-btn {
    width: 100%;
    padding: 9px;
    background-color: #0ea5e9;
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 1.0rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.login-btn:hover {
    background-color: #0284c7;
    transform: scale(0.95);
}

.login-btn:active {
    background-color: #0284c7;
    transform: scale(0.85);
}

.forgot{
    color: #64748b;
    text-align: right;
    font-size: 0.9rem;
    margin: 15px;
}

.forgot a{
    color: #0ea5e9;
    text-decoration: none;
    font-weight: bold;
}

.signup{
    color: #64748b;
    margin-top: 20px;
}

.signup a {
    color: #0ea5e9;
    text-decoration: none;
    font-weight: bold;
}

.error-msg {
    background-color: rgba(255, 0, 0, 0.1);
    color: red;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 0.8rem;
    border: 1px solid red;
}

.error-msg{
    color: red;
    background: #ffe6e6; 
    padding: 10px; 
    border-radius: 5px; 
    margin-bottom: 10px;
}

@media (max-width: 480px) {
    .login{
        padding: 30px 20px;
    }
    
    img{
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 20px;
        justify-content: center;
    }

    body {
        flex-direction: column; 
        justify-content: flex-start;
        padding-top: 50px;
    }
}