* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: url("/static/pexels-padrinan-255379.jpg") no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
}

.register{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 600px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.3);
}

h2 { 
    color: #1e293b;
    margin-bottom: 20px; 
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    text-align: left;
}

.input-box label {
    display: block;
    font-size: 0.85rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 8px;
    background: rgba(255,255,255,0.8);
}

.role-section {
    margin: 25px 0;
    text-align: left;
}

.role-section p{
    font-weight: bold;
}

.radio-group {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    align-items: center;
}

.radio-group label {
    cursor: pointer;
    font-size: 0.9rem;
}


.reg-btn {
    width: 100%;
    padding: 12px;
    background: #0ea5e9;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    transition: transform 0.3s;
}

.reg-btn:hover {
    transform: scale(0.97);
    background: #0284c7;
}

.reg-btn:active {
    background-color: #0284c7;
    transform: scale(0.85);
}

.footer-text { margin-top: 20px; font-size: 0.9rem; color: #444; }
.footer-text a { color: #0ea5e9; text-decoration: none; font-weight: bold; }

@media (max-width: 600px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
    .register-container {
        margin-top: 80px;
    }
}